<div class="row">
    <div class="col">
        <!-- Search box -->

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    Image Url
                </span>
                <input type="text"
                       name="img.url"
                       class="form-control"
                       [(ngModel)]="img.url">
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <!-- Selected Img preview -->
                <div class="preview-wrap m-3"
                     *ngIf="img.url">
                    <div class="border border-faded p-2 w-100 preview-img-outer">
                        <img id="preview-img"
                             [src]="img.url" />

                        <!-- Aspect Ratio toggle -->
                        <div *ngIf="img.customSize"
                             class="float-right text-secondary font-italic aspect-ratio-toggle"
                             (click)="toggleAspectRatioLock()">
                            <span class="fa fa-lg"
                                  [ngClass]="aspectRatioLocked ? 'fa-toggle-on text-success' : 'fa-toggle-off'"></span>
                            <label for="aspecRatioToggle"> lock aspect ratio</label>
                        </div>

                    </div>

                </div>
                <!-- Img preview placeholder -->
                <div class="preview-placeholder"
                     *ngIf="!img.url">
                    <div class="preview-img-outer border border-faded p-2 w-100">
                        <img src="../../../assets/img-preview-placeholder.png">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div *ngIf="img.url">
                    <div class="form-group">
                        <span class="fa fa-2x align-middle"
                              [ngClass]="img.customSize ? 'fa-toggle-on text-success' : 'fa-toggle-off'"
                              (click)="toggleCustomSize()"></span>
                        <span>Custom Size</span>
                    </div>
                    <div class="form-group">
                        <label class="text-muted font-weight-bold">Title</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="img.title">
                    </div>
                </div>
                <div *ngIf="!img.url"
                     class="text-center text-muted font-italic mt-5">Enter an Image URL to preview</div>
            </div>
        </div>
    </div>
</div>