<div class="insert-glyph">

  <!-- Search and size -->
  <div class="form-group form-inline">
    <input type="text"
           class="form-control form-control-sm"
           placeholder="Search..."
           [(ngModel)]="glyphFilter">
    <!-- Size dropdown -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm"
              type="button"
              data-toggle="dropdown">
        Size
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item"
                href="#">16</button>
        <button class="dropdown-item"
                href="#">24</button>
      </div>
    </div>
  </div>

</div>