<div class="tiny-editor">
  <div #tinyEditor></div>

  <div class="models-wrap">
    <div id="editor-modal"
         class="modal fade p-0">
      <div class="modal-dialog"
           [ngClass]="openModal?.size"
           role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{openModal?.title}}</h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Insert code modal -->
            <div [hidden]="openModal?.key !== 'code'">
              <app-editor-insert-code [data]="openModal?.data"
                                      (onSubmit)="addToEditor($event)"></app-editor-insert-code>
              {{openModal?.data.code}}
            </div>

          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-sm btn-primary"
                    data-dismiss="modal"
                    (click)="submitModel()">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>