<div class="row">
  <div class="col editor-wrapper">

    <div *ngFor="let elem of elements; let i = index">

      <div [ngSwitch]="MarkdownElementType[elem.type]">

        <div class="my-2" *ngSwitchCase="MarkdownElementType[MarkdownElementType.heading]">
          <app-markdown-heading-edit [markdown]="elem"></app-markdown-heading-edit>
        </div>

        <div class="small">
          <i class="fa fa-plus"
             aria-hidden="true"></i>
          <span class="font-italics text-dark">insert</span>
          <span class="btn btn-sm btn-xs btn-secondary"
                (click)="addElement(MarkdownElementType.heading, i)">Heading</span>
          <span class="btn btn-sm btn-xs btn-secondary"
                (click)="addElement(MarkdownElementType.text, i)">Text</span>
          <span class="btn btn-sm btn-xs btn-secondary"
                (click)="addElement(MarkdownElementType.image, i)">Image</span>
          <span class="btn btn-sm btn-xs btn-secondary"
                (click)="addElement(MarkdownElementType.table, i)">Table</span>
          <span class="btn btn-sm btn-xs btn-secondary"
                (click)="addElement(MarkdownElementType.html, i)">Html</span>
        </div>
      </div>

    </div>

  </div>
  <div class="col preview-wrapper">

    <div *ngFor="let elem of elements">
      <div class="hvj-markdown-element-preview"
           [innerHtml]="elem.toHtml()">
      </div>
    </div>

  </div>
</div>