<div class="container">
    <div class="row">
        <div class="col">
            <h4>My Projects</h4>
            <hr>
            <!-- Project list -->
            <div class="list-group">
                <a *ngFor="let project of projects"
                   [routerLink]="['/project/', project._id]"
                   class="list-group-item list-group-item-action ">
                {{project.name}}
            </a>
            </div>

            <!-- no project message -->
            <div *ngIf="!projects || projects.length === 0">
                <em class="ml-3">No projects to display</em>
            </div>

            <!-- New project button -->
            <div class="mt-2">
                <a class="btn btn-secondary btn-sm"
                   [routerLink]="['/project','new']">
               <i class="fa fa-plus fa-lg mr-2" aria-hidden="true"></i>
               <span>Create Project</span>
              </a>
            </div>

        </div>
    </div>
</div>