<div class="row">

  <div class="col">
    <!-- Search box -->
    <form (ngSubmit)="search()">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            Search Icons
          </span>
          <input type="text"
                 name="keyword"
                 class="form-control"
                 [(ngModel)]="keyword"
                 placeholder="keyword...">
          <button type="submit"
                  class="btn btn-primary btn-sm"
                  [disabled]="!keyword"
                  (click)="search()">Search</button>
        </div>
      </div>
    </form>
    <!-- Search results -->
    <div class="search-result-wrap mt-3">
      <div class="row">
        <div class="col text-center">
          <div *ngFor="let i of searchResultIcons"
               class="m-1 p-2 d-inline-block img-wrap border">
            <div class="img-container"
                 [style.background-image]="'url(' + i + ')'"></div>
          </div>
        </div>
        <div class="col-4">
          preview
        </div>
      </div>

    </div>

  </div>

</div>