<div class="row">
    <div class="col">
        <div class="form-group">

            <!-- Lang select -->
            <div class="btn-group"
                 role="group"
                 aria-label="Button group with nested dropdown">
                <input type="text"
                       [(ngModel)]="data.lang" />
                <div class="btn-group"
                     role="group">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle btn-sm"
                            data-toggle="dropdown"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="#"
                           (click)="data.lang='JavaScript'">JavaScript</a>
                        <a class="dropdown-item"
                           href="#"
                           (click)="data.lang='C-sharp'">C#</a>
                        <a class="dropdown-item"
                           href="#"
                           (click)="data.lang='Java'">Java</a>

                    </div>
                </div>
            </div>

            <!-- Code editor -->
            <textarea appAutoHeight
                      [(ngModel)]="data.code"></textarea>

        </div>
    </div>
</div>