<div class="row">
    <div class="col">
        <div class="list-group">
            <a *ngFor="let project of projects"
               [routerLink]="['/project/', project._id]"
               class="list-group-item list-group-item-action ">
                {{project.name}}
            </a>
        </div>
        <div class="mt-2">
            <a class="btn btn-secondary btn-sm"
               [routerLink]="['/project','new']">
               <i class="fa fa-plus fa-lg mr-2" aria-hidden="true"></i>
               <span>Create Project</span>
              </a>
        </div>
    </div>
</div>