<div class="container">
    <div class="row"
         *ngIf="loggedInUser">
        <div class="col">
            <h4>New Project</h4>
            <hr class="mt-2">

            <form #newProjectForm="ngForm"
                  (submit)="createProject()">

                <!-- Name -->
                <div class="form-group">
                    <label class="control-label small text-dark"
                           for="name">NAME</label>
                    <input type="text"
                           class="form-control form-control-sm"
                           name="name"
                           #nameField="ngModel"
                           [(ngModel)]="name"
                           [ngClass]="{'btn-outline-danger': nameField.touched && !nameField.valid }"
                           required>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="control-label small text-dark"
                           for="name">DESCRIPTION</label>
                    <textarea type="text"
                              class="form-control form-control-sm"
                              name="description"
                              #descriptionField="ngModel"
                              [(ngModel)]="description"></textarea>
                </div>

                <!-- Markdown file name -->
                <div class="form-group">
                    <label class="control-label small text-dark"
                           for="name">MARKDOWN FILE NAME</label>
                    <input type="text"
                           class="form-control form-control-sm"
                           name="markdownFileName"
                           #markdownFileNameField="ngModel"
                           [(ngModel)]="markdownFileName"
                           [ngClass]="{'btn-outline-danger': markdownFileNameField.touched && !markdownFileNameField.valid }"
                           required>
                </div>

                <!-- Users -->
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <!-- Admins -->
                        <div class="form-group">
                            <label class="control-label small text-dark"
                                   for="name">ADMINS</label>
                            <app-user-list-select [ignoreIds]="[loggedInUser._id]"
                                                  [(selectedUserIds)]="admins"></app-user-list-select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <!-- Members -->
                        <div class="form-group">
                            <label class="control-label small text-dark"
                                   for="name">MEMBERS</label>
                            <app-user-list-select [ignoreIds]="[loggedInUser._id]"
                                                  [(selectedUserIds)]="members"></app-user-list-select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary py-1"
                            [hidden]="inProgres"
                            [disabled]="!newProjectForm.valid">Create</button>

                    <div class="progress"
                         [hidden]="!inProgres">
                        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"
                             role="progressbar"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>