/** Bootstrap Enhancements **/
body.hvj{
    
  }
  
  .hvj b, .hvj strong {
    font-weight: bold !important;
  }

  .hvj .bg-faded {
    background: #ededed;
  }
  
  .hvj .border-faded {
    border-color: #CCC;
  }
  
  .hvj .bg-royal {
    background-color: #236eaf !important;
  }
  
  .hvj .fg-royal {
    color: #236eaf !important;
  }

  .hvj .btn:not(:disabled) {
    cursor: pointer;
  }

  .hvj .btn-faded{
    background: #ededed;
    color:#888;
  }

  .hvj .btn-faded:hover, .hvj .btn-faded.active{
    background: #b9b9b9;
    color:white;
  }
  
  .hvj .btn-xs {
    padding: 0;
  }
  
  
  /** Bootstrap Enhancements end **/
  
  .hvj .hvj-outermost {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  /** Header start */
  
  
  /** Header end */
  
  /** Footer start */
  
  /** Footer end */
  
  
  
