<div class="container">
    <div class="user-registration mt-3">
        <div class="display-4">Register</div>
        <hr>
        <br>
        <!--form-->
        <form class="form"
              (ngSubmit)="register()"
              #registerForm="ngForm">
            <!-- User Name -->
            <div class="form-group">
                <input placeholder="User Name"
                       type="text"
                       class="form-control"
                       name="usernameField"
                       [(ngModel)]="username"
                       #usernameField="ngModel"
                       [ngClass]="{'border-danger': registrationErrors.username || (!usernameField.valid && usernameField.touched)}"
                       required />
                <span *ngIf="usernameField.invalid && usernameField.touched"
                      class="text-danger ml-2">Username is required</span>
                <span *ngIf="registrationErrors.username"
                      class="text-danger ml-2">{{registrationErrors.username}}</span>
            </div>

            <!-- Password -->
            <div class="form-group">
                <input placeholder="Password"
                       type="password"
                       class="form-control"
                       name="passwordField"
                       [(ngModel)]="password"
                       #passwordField="ngModel"
                       [ngClass]="{'border-danger': (!passwordField.valid && passwordField.touched)}"
                       required />
                <span *ngIf="passwordField.invalid && passwordField.touched"
                      class="text-danger ml-2">Password is required</span>
            </div>

            <!-- Verify Password -->
            <div class="form-group">
                <input placeholder="Verify Password"
                       type="password"
                       class="form-control"
                       name="verifyPasswordField"
                       [(ngModel)]="verifyPassword"
                       #verifyPasswordField="ngModel"
                       [ngClass]="{'border-danger': verifyPassword !== password && verifyPasswordField.touched}"
                       required />
                <span *ngIf="verifyPasswordField.invalid && verifyPasswordField.touched"
                      class="text-danger ml-2">Verify Password is required</span>
                <span *ngIf="verifyPassword && verifyPassword !== password && verifyPasswordField.touched"
                      class="text-danger ml-2">Passwords do not match</span>
            </div>

            <!-- form actions -->
            <div>
                <button type="submit"
                        class="btn btn-royal btn-block"
                        [disabled]="registerForm.invalid || verifyPassword !== password">Register</button>
                <!-- <a class="btn btn-danger btn-block"
                   [routerLink]="['/login']">Cancel</a> -->
            </div>
            <!-- /form actions -->
        </form>
        <!--/form-->
    </div>
</div>